.container {
    list-style-type: none;
    position: absolute;
    top: 0;
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
}

.link a {
    text-decoration: none;
    color: #000;
    font-size: 32px;
    text-transform: capitalize;
    color: #67697C;
    font-family: 'FabulousScript-Bold', sans-serif;

    &:hover {
        color: pink;
        // TODO add transition
    }
}

.joshuaJones a {
    text-decoration: none;
    font-size: 96px;
    text-transform: capitalize;
    color: #67697C;
    font-family: CreativeVintageDraft, sans-serif;
    margin: 50px;

    &:hover {
        color: pink;
        // TODO add transition
    }
}

.joshuaJonesMobile a {
    font-size: 22px;
    font-family: CreativeVintageDraft, sans-serif;
    text-decoration: none;
    color: white;
    display: block;
    margin: auto;

    // &:hover {
    //     color: pink;
    //     // TODO add transition
    // }
}

.containerMobile {
    list-style-type: none;
    position: fixed;
    bottom: 0;
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
    margin: 0;
    background-color: #333;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 20px 50px;
    z-index: 9999;
    color: pink;
    font-family: CreativeVintageDraft;
}