.title {
    text-decoration: none;
    font-size: 96px;
    text-transform: capitalize;
    color:pink;
    font-family: CreativeVintageDraft, sans-serif;
    display: block;
    text-align: center;
}

.description {
    font-family: CreativeVintageRegular, sans-serif;
    font-size: 32px;
    color: white;
}

.highlight {
    font-family: CreativeVintageRegular, sans-serif;
    color: pink;
}

.bullet { // TODO delete
    font-family: CreativeVintageRegular, sans-serif;
    font-size: 22px;
    color: grey;
}

.bg {
    background-color: #969696;
}

.card {
    height: 900;
    width: 300;
    background-color: #969696;
    border-radius: 5;
    // position: absolute;
    // top: 30;
    // right: 30;
    display: flex;
}